*{
    margin: 0;
    padding: 0;
}
html{
    font-family:sans-serif;
    line-height:1.15;
}

body{
    font-size:2rem;
    font-weight:400;
    line-height:1.5;
    color:#212529;
    text-align:left;
    background-color:#fff;
    height: 100%;
    width:100%;
}

.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-top:1rem;
    margin-right:auto;
    margin-left:auto;
}


@media (min-width: 576px) {
    .container{
        max-width:540px;
    }
}
@media (min-width: 768px) {
    .container{
        max-width:720px;
    }
}

#search-box{
    position:relative;
    height:15%;
    max-height: 15%;
    padding-top: 1vh;
    padding-bottom: 0;
}


#search-group{
    position:relative;
    display:flex;
    flex-wrap:wrap;
    align-items:stretch;
    height: 6vh;
    width:100%;
}

#input{
    position:relative;
    display:block;
    flex:1 1;
    width:100%;
    padding:0 .75rem;
    background-clip:padding-box;
    border:1px solid #ced4da;
    border-radius:.25rem;
    transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin:0;
    font-size:2rem;
    font-weight:400;
    overflow:visible;
}

#search-btn-wrapper{
    display: flex;
    height:6vh;
    margin-left: -1px;
}

#search{
    display:flex;
    align-items:center;
    padding:0 .75rem;
    margin-bottom:0;
    text-align:center;
    white-space:nowrap;
    background-color:#e9ecef;
    border:1px solid #ced4da;
    border-radius:.25rem
}

#options{
    position: absolute;
    display:none;
    z-index:999;
    border:2px solid;
    top:7vh;
    width:100%;
    background-color: white;
}
ul{
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

#users-list-container{
    height: 85%;
    max-height:90vh;
    overflow-y:scroll;
}
.card{
    position:relative;
    display:flex;
    flex-direction:column;
    min-width:0;
    word-wrap:break-word;
    border:1px solid rgba(0,0,0,.125);
    border-radius:0.25em;
}

.card-body{
    flex:1 1 auto;
    min-height:1px;
    padding:1.25rem;
}

.user-info{
    margin-top:1vh;
}

.user-info img{
    height:5vh;
    width:5vh;
}

.card-body .login-display{
    cursor:pointer;
    color:blue;
}

.user-repos{
    display: none;
    margin:1vh;
}

.user-followers{
    display:none;
    margin:1vh;
}


.followers-btn{
    cursor:pointer;
    color:blue;
}